<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1>Thank you for shopping in our store</h1>
  <span>Here's your picture: </span><br />
  <img src="<%= @data %>">
  </body>
</html>
