<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1>A user makes a purchase</h1>
  <span>Todos ID: </span>
  <%= @data %>
  </body>
</html>
